.post-list-item {
  border: 1px solid #ccc;
  background-color: #3f3f3f;
  padding-left: 1rem;
}

.post-list-item h2 {
  margin-bottom: 3px;
  font-size: 1.2rem;
}

a.title {
  color: #ff6f00;
  text-decoration: none;
  cursor: pointer;
}

.date-info {
  font-size: 0.8rem;
  color: #ccc;
  margin-top: 3px;
}