.post-list-item {
  border: 1px solid #ccc;
  background-color: #3f3f3f;
  padding: 0.5rem 0rem 0.5rem 1rem;
}

.post-header {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 3px 0px;
  font-size: 1.2rem;
}

.post-body {
  margin: 3px 0px 3px 0px;
}

a.title {
  color: #ff6f00;
  text-decoration: none;
  cursor: pointer;
}

a.author {
  color: #ff6f00;
  text-decoration: none;
  cursor: pointer;
}

.date-info {
  font-size: 0.8rem;
  color: #ccc;
  margin: 3px 0px 3px 0px;
}
