#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-content {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.create-post-btn {
  background-color: #ff6f00;
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer-content {
  flex-shrink: 0;
}

.login-message {
  margin-top: 0;
}

.bold {
  font-weight: 750;
}

.orange {
  color: #ff6f00;
  font-weight: 700;
}
