.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  max-width: 500px;
  min-height: 400px;
  max-height: 500px;
  padding: 20px;
  border-radius: 1rem;
  background-color: #333333;
  background: radial-gradient(
      circle at top right,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 70%
    ),
    #333333;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.loginContainer input {
  width: auto;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #636363;
  border-radius: 1rem;
  background-color: #333333;
}

.loginContainer p {
  align-self: center;
}

.loginContainer h1 {
  margin-top: 1rem;
}

.formFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.formFields input {
  background-color: rgba(0, 0, 0, 0.3);
}

.loginBtn {
  background-color: #ff6f00;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ff6f00;
}

.toggle {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 200px;
  align-self: center;
  color: #ff6f00;
  border: none;
  background: transparent;
}
.message {
  margin-top: 30px;
  max-width: 200px;
  align-self: center;
}

.toggle:hover {
  color: #fa964a;
  border: none;
  transition: all 0.3s;
}
