.post-area-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px;
  border-radius: 2px;
  border-bottom: 1px solid rgb(65, 65, 65);
}

.back-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.back-btn:hover {
  text-decoration: underline;
}

.back-btn img {
  vertical-align: middle;
}

.back-btn span {
  vertical-align: middle;
}

.content-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  border-radius: 2px;
}

/* VoteIndicator.tsx styles */
.voting-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upvote,
.downvote {
  width: 36px;
  height: 36px;
  border-radius: 2rem;
}

.voteBalance {
  font-size: 1.2rem;
  font-style: bold;
}

.positive {
  color: #ff6f00;
}

.negative {
  color: #67dcf9;
}
/* end voting css */

.post-content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  min-width: 320px;
  max-width: 800px;
  padding-left: 1rem;
}

p.submission-info {
  margin: 0;
  font-size: 0.8rem;
}

.post-content-container h2 {
  margin: 0;
}

.comment-input {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 500px;
  min-height: 100px;
}

.comment-input textarea {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.submit-btn {
  background-color: #ff6f00;
  margin: 10px 0 20px 0;
  width: 8rem;
}

.comment-section {
  display: flex;
  flex-direction: column;
}

.comment-container {
  border-left: 0.5rem solid #ff6f00;
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(65, 65, 65);
}

.comment-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-header a {
  color: #fe7d1a;
}

.comment-header p {
  margin: 0;
  padding-left: 10px;
  font-style: italic;
  font-size: 0.8rem;
}
