.post-list-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0px;
  margin: 0px;
}

.post-list-item {
  background-color: #3f3f3f;
  padding: 0.5rem 0rem 0.5rem 1rem;
  flex-grow: 1;
  margin-bottom: 2px;
  border-radius: 0.5rem;
}

.post-header {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 3px 0px;
  font-size: 1.2rem;
}

.post-body {
  margin: 3px 0px;
  max-height: 1.5rem;
  overflow: hidden;
  color: #fff;
}

a.title {
  color: #ff6f00;
  text-decoration: none;
  cursor: pointer;
}

a.author {
  color: #ff6f00;
  text-decoration: none;
  cursor: pointer;
}

.date-info {
  font-size: 0.8rem;
  color: #ccc;
  margin: 3px 0px 3px 0px;
}

.close-modal-btn {
  background-color: #ff6f00;
  color: white;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  background-color: #ff6f00;
  margin: 10px 0 20px 0;
  width: 100%;
}

.numComments:hover {
  color: #cacaca;
}
