.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

}

h1 {
    margin-top: 0;
}

.activity-log {
    border-top:1px solid white;
    width: 100%;
}
