.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 20px;
  background-color: rgba(36, 36, 36, 0.7);
  color: #ff6f00;

}

.nav-left .company-name {
  font-size: 1.5em;
  text-decoration: none;
  color: #ff6f00;
}

.nav-right {
  display: flex;
  gap: 30px;
}

a.profile-name {
  display: flex;
  align-items: center;
  color: #ff6f00;
  text-decoration: none;
}

.nav-button {
  padding: 7px 15px;
  text-decoration: none;
  color: #ff6f00;
  background-color: #242424;
  border-radius: 5rem;
  border: 1px #ff6f00 solid;
  transition: all 0.3s

}

.nav-button:hover {
  color: white;
}
