.voting-controls {
  display: flex;
  flex-direction: column;
  flex-shrink: space-around;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.upvote,
.downvote {
  width: 24px;
  height: 24px;
  border-radius: 2rem;
}

.voteBalance {
  font-weight: 900;
  font-size: 0.8rem;
}

.positive {
  color: #ff6f00;
}

.negative {
  color: #67dcf9;
}
